# --- Terraform directories & local state  ---
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log

# Override files
override.tf
override.tf.json


# Plans
*.plan
tfplan
tfplan.out

# Backend config (generated)
**/backend.hcl
!**/backend.example.hcl

# Remote-state 
remote-state/terraform.tfstate




# Local env / credentials
terraform.env
.env
*.env
sp.json

